{
  "local": {
    "testEmail": "YOUR_TEST_EMAIL_HERE",
    "testPassword": "YOUR_TEST_PASSWORD_HERE",
    "adminEmail": "YOUR_ADMIN_EMAIL_HERE",
    "adminPassword": "YOUR_ADMIN_PASSWORD_HERE",
    "adminAccessToken": "YOUR_ADMIN_ACCESS_TOKEN_HERE",
    "adminRefreshToken": "YOUR_ADMIN_REFRESH_TOKEN_HERE"
  },
  "dev": {
    "testEmail": "YOUR_TEST_EMAIL_HERE",
    "testPassword": "YOUR_TEST_PASSWORD_HERE",
    "adminEmail": "YOUR_ADMIN_EMAIL_HERE",
    "adminPassword": "YOUR_ADMIN_PASSWORD_HERE"
  },
  "prod": {
    "testEmail": "YOUR_TEST_EMAIL_HERE",
    "testPassword": "YOUR_TEST_PASSWORD_HERE",
    "adminEmail": "YOUR_ADMIN_EMAIL_HERE",
    "adminPassword": "YOUR_ADMIN_PASSWORD_HERE"
  }
}
