{
  "local": {
    "userId": "YOUR_ADMIN_USER_ID_HERE",
    "adminAccessToken": "YOUR_ADMIN_ACCESS_TOKEN_HERE",
    "adminRefreshToken": "YOUR_ADMIN_REFRESH_TOKEN_HERE"
  },
  "dev": {
    "userId": "YOUR_DEV_ADMIN_USER_ID_HERE"
  },
  "prod": {
    "userId": "YOUR_PROD_ADMIN_USER_ID_HERE"
  }
}
