{
  "local": {
    "accessToken": "YOUR_ACCESS_TOKEN_HERE",
    "refreshToken": "YOUR_REFRESH_TOKEN_HERE",
    "testBookmarkId": "YOUR_TEST_BOOKMARK_ID_HERE",
    "testHistoryId": "YOUR_TEST_HISTORY_ID_HERE"
  },
  "dev": {
    "accessToken": "YOUR_ACCESS_TOKEN_HERE"
  },
  "prod": {
    "accessToken": "YOUR_ACCESS_TOKEN_HERE"
  }
}
